@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  border: none;
  background-color: #68b738;
  color: #ffffff;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.page__body {
  margin: 0;
  background-color: #ffffff;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.page__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}

.page__title--hero {
  color: #ffffff;
}

.navigation__toggle {
  border: none;
  background-color: #ffffff;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list__link {
  text-decoration: none;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.hero {
  color: #ffffff;
  background-color: #68b738;
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
}

.hero__slogan {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-card {
  background-color: #f2f2f2;
}

.features-card__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.features-card__link {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.example {
  background-color: #f2f2f2;
}

.example__price {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.example-list__info {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.example-list__text {
  font-size: 12px;
  line-height: 12px;
}

.main-footer__cooperation {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-transform: uppercase;
}

.main-footer__addres {
  line-height: 20px;
  font-style: normal;
}

.main-footer__wrapper {
  background-color: #f2f2f2;
}

.copyright {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-card {
  font-size: 16px;
  line-height: 14px;
}

.catalog-card__title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-more__description {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-more__text {
  font-size: 12px;
  line-height: 16px;
}

.button--more {
  background-color: #f2f2f2;
  color: #444444;
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional-card__title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.present {
  background-color: #68b738;
  background-image: url("../img/bg-present.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.content-form__text {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.form__fieldset {
  border: none;
}

.form__label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__control {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__legend {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
}
/*# sourceMappingURL=style.css.map */