.additional-card__title {
  color: $color-title-card;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-card__name {
  line-height: 14px;
}

.additional-card__price {
  line-height: 14px;
}

@media (min-width: $desktop-width) {
  .additional-card {
    display: flex;
    justify-content: space-between;
  }
}
