.additional-card {
  padding: 13px 0 16px 0;
  border-top: 1px solid $border-example;

  &:last-child {
    border-bottom: 1px solid $border-example;
  }
}

.additional-card__title {
  color: $color-title-card;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.additional-card__name {
  line-height: 14px;
  margin-right: 49px;
}

.additional-card__price {
  line-height: 14px;
}

.additional-card__button {
  display: block;
}

.additional-card__price-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .additional-card {
    padding: 24px 38px 28px 38px;
    border-left: 1px solid $border-example;
    border-right: 1px solid $border-example;
  }

  .additional-card__price {
    min-width: 42px;
    text-align: end;
  }

  .additional-card__price-wrapper {
    margin-bottom: 24px;
    align-items: flex-end;
  }

  .additional-card__title {
    width: auto;
    margin: 0;
    margin-right: auto;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
  }
}


@media (min-width: $desktop-width) {
  .additional-card {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-top: 17px;
    padding-bottom: 15px;
    align-items: center;
    border-left: none;
    border-right: none;
  }

  .additional__wrapper {
    padding-top: 42px;
  }

  .additional-card__price {
    text-align: start;
  }

  .additional-card__price-wrapper {
    display: grid;
    grid-template-columns: 300px 220px 1fr;
    gap: 25px;
    margin: 0;
  }

  .additional-card__title {
    width: auto;
    margin: 0;
    margin-right: auto;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .additional-card__name {
    width: 200px;
  }
}
