.additional {
  padding-bottom: 36px;
}

.additional__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 35px;
}

.additional__list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
}

.additional__title--line {
  &::before {
    content: " ";
    display: block;
    height: 2px;
    width: 100%;
    background-color: $background-color-promo;
    margin-bottom: -17px;
  }
}

.additional__title-text {
  padding: 0 20px;
  margin-left: -20px;
  background-color: $background-color-page;
  display: block;
  width: 228px;
  font-size: 24px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .additional {
    padding-bottom: 76px;
  }

  .additional__wrapper {
    padding-top: 44px;
  }

  .additional__title--line {
    &::before {
      margin-bottom: -23px;
    }
  }

  .additional__list {
    padding: 0;
    margin-bottom: 68px;
  }

  .additional__title-text {
    padding: 0 40px;
    display: inline;
    width: auto;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .additional {
    padding-bottom: 18px;
  }

  .additional__wrapper {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
  }

  .additional__title-text {
    margin-left: -40px;
  }
}
