.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 20px;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
