.advantages {
  padding-top: 16px;
  padding-bottom: 50px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 60px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 47px;
    padding-bottom: 20px;
  }

  .advantages__title {
    margin-bottom: 73px;
  }

  .advantages__list {
    grid-template-columns: 1fr 1fr;
    counter-reset: advantages;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 72px;
  }

  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
