.advantages-card {
  padding-left: 80px;
  min-height: 60px;
  position: relative;
  padding-top: 2px;

  &::after {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    background-color: $background-color-promo;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--leaf::after {
    background-image: url("../img/icon/icon-leaf.svg");
  }

  &--powder::after {
    background-image: url("../img/icon/icon-powder.svg");
  }

  &--eat::after {
    background-image: url("../img/icon/icon-eat.svg");
  }

  &--clock::after {
    background-image: url("../img/icon/icon-clock.svg");
  }
}

.advantages-card__text {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages-card {
    padding-left: 0;
    padding-top: 114px;
    position: relative;
    min-height: 150px;
    font-size: 16px;
    line-height: 24px;

    &::before {
      counter-increment: advantages;
      content: counter(advantages);
      font-size: 280px;
      font-weight: 400;
      line-height: 280px;
      font-family: "Oswald", "Arial", sans-serif;
      color: $background-color-card;
      position: absolute;
      top: -38px;
      right: 78px;
      z-index: -1;
    }

    &::after {
      width: 80px;
      height: 80px;
    }
  }

  .advantages-card__text {
    width: 250px;
  }
}


@media (min-width: $desktop-width) {
  .advantages-card {

    &::before {
      right: 6px;
    }
  }
}
