.button {
  border: none;
  background-color: $background-color-button;
  color: $color-button;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
