.catalog-more {
  margin: 0 auto;
  padding-top: 6px;
  text-align: center;
  width: 100%;

  &::before {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 22px;
    background-image: url("../img/icon/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.catalog-more__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-cooperation;
  margin: 0;
}

.catalog-more__text {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 19px;
}

@media (min-width: $tablet-width) {
  .catalog-more {
    padding-top: 48px;

    &::before {
      width: 60px;
      height: 60px;
      margin-bottom: 46px;
    }
  }

  .catalog-more__description {
    font-size: 20px;
    line-height: 24px;
    padding: 5px 40px;
    margin-bottom: 18px;
  }

  .catalog-more__text {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 83px;
    padding: 0 15px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-more {
    &::before {
      margin-bottom: 42px;
    }
  }

  .catalog-more__description {
    padding: 0;
    margin-bottom: 22px;
  }

  .catalog-more__text {
    margin: 0;
    margin-bottom: 90px;
    padding: 0;
  }
}
