.catalog-more__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-cooperation;
}

.catalog-more__text {
  font-size: 12px;
  line-height: 16px;
}
