.content-form__text {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $color-title;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .content-form__text {
    font-size: 20px;
    line-height: 30px;
  }
}

// @media (min-width: $desktop-width) {

// }
