.content-form {
  border-top: 1px solid $border-catalog;
}

.content-form__text {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $color-title;
  margin-bottom: 27px;
}

@media (min-width: $tablet-width) {
  .content-form {
    border-top: none;
  }

  .content-form__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 56px;
  }
}

// @media (min-width: $desktop-width) {

// }
