.copyright {
  font-size: 16px;
  line-height: 20px;
  color: $color-page;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover svg {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright__text {
    margin-right: 10px;
  }
}
