.example-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.example-list__info {
  color: $color-title;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.example-list__text {
  font-size: 12px;
  line-height: 12px;
}
