.example {
  background-image: linear-gradient($background-color-page 0px, $background-color-card 0px);
}

@media (min-width: $tablet-width) {
  .example {
    background-image: linear-gradient($background-color-page 300px, $background-color-card 300px);
  }
}

@media (min-width: $desktop-width) {
  .example__container {
    display: flex;
    justify-content: space-between;
  }

  .example__wrapper {
    width: 450px;
  }

  .example {
    background-image: linear-gradient($background-color-page 100px, $background-color-card 100px);
  }
}
