.example {
  background-color: $background-color-card;
}

.example__price {
  color: $color-title;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
