.example {
  background-image: linear-gradient($background-color-page 0, $background-color-example 0);
  padding-top: 23px;
  padding-bottom: 41px;
}

.example__title {
  margin: 0;
  margin-bottom: 43px;
}

.example__text {
  margin-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .example {
    background-image: linear-gradient(to top, $background-color-example 460px, $background-color-page 460px);
    border-top: 1px solid $border-catalog;
    padding-top: 45px;
    padding-bottom: 101px;
  }

  .example__title {
    margin-bottom: 62px;
  }

  .example__text {
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    border: none;
    padding-top: 25px;
    padding-bottom: 72px;
    background-image: linear-gradient($background-color-page 160px, $background-color-example 160px);
  }

  .example__container {
    display: flex;
    justify-content: space-between;
  }

  .example__wrapper {
    width: 433px;
  }

  .example__title {
    margin-bottom: 145px;
  }

  .example__text {
    margin-bottom: 69px;
  }
}
