.features-card {
  background-color: $background-color-card;
  padding: 20px;
}

.features-card__title {
  color: $color-title;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 23px;
  padding: 7px 0 7px 70px;
  position: relative;

  &::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.features-card__title--slim::before {
  width: 50px;
  height: 53px;
  background-image: url("../img/features-slim.svg");
}

.features-card__title--fat::before {
  width: 67px;
  height: 50px;
  left: -7px;
  background-image: url("../img/features-fat.svg");
}

.features-card__text {
  margin-bottom: 22px;
}

.features-card__link {
  font-family: "Oswald", "Arial", sans-serif;
  color: $color-link;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid $border-features;
  padding-top: 18px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;

  &::after {
    display: block;
    content: "";
    width: 24px;
    height: 12px;
    background-image: url("../img/arrow.svg");
    background-position: right center;
    background-repeat: no-repeat;
    margin-left: 17px;
    flex-shrink: 0;

    margin-right: 6px;
  }

  &:hover::after {
    width: 30px;

    margin-right: 0;
  }

  &:active,
  &:active::after {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .features-card {
    padding: 77px 316px 57px 52px;
    position: relative;

    &::before {
      display: block;
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .features-card--slim::before {
    width: 200px;
    height: 211px;
    background-image: url("../img/features-slim.svg");
    top: 81px;
    right: 64px;
  }

  .features-card--fat::before {
    width: 268px;
    height: 200px;
    background-image: url("../img/features-fat.svg");
    top: 93px;
    right: 29px;
  }

  .features-card__title {
    background: none;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 26px;

    &::before {
      display: none;
    }
  }

  .features-card__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  .features-card__link {
    border: none;
    padding: 0;
    font-size: 20px;
    line-height: 20px;

    &::after {
      margin-left: 27px;
    }
  }
}

@media (min-width: $desktop-width) {
  .features-card {
    padding: 52px;
    padding-top: 45px;
    padding-bottom: 58px;
    background-image: none;

    &::before {
      display: none;
    }
  }

  .features-card__title {
    padding: 32px 0 32px 160px;
    margin-bottom: 42px;

    &::before {
      display: block;
    }
  }

  .features-card__title--slim::before {
    width: 100px;
    height: 106px;
  }

  .features-card__title--fat::before {
    width: 134px;
    height: 100px;
    left: -17px;
  }

  .features-card__text {
    margin-bottom: 32px;
  }
}
