.features {
  padding-top: 20px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 20px;
}

@media (min-width: $tablet-width) {
  .features__list {
    gap: 30px;
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding-top: 85px;
  }

  .features__list {
    gap: 80px;
    grid-template-columns: 1fr 1fr;
  }
}
