.features-card {
  background-color: $background-color-card;
  padding: 20px;
}

.features-card__title {
  color: $color-title;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 22px;
  padding: 7px 0 7px 70px;
  background-image: url("https://placehold.co/50x50");
  background-repeat: no-repeat;
  background-position: left center;
}

.features-card__text {
  margin-bottom: 23px;
}

.features-card__link {
  font-family: "Oswald", "Arial", sans-serif;
  color: $color-link;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  border-top: 1px solid $border-catalog;
  padding-top: 18px;
  margin-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .features-card__title {
    background: none;
    padding: 0;
  }

  .features-card {
    padding-right: 316px;
    background-image: url("https://placehold.co/200x200");
    background-repeat: no-repeat;
    background-position: right 30px center;
  }
}

@media (min-width: $desktop-width) {
  .features-card__title {
    padding: 7px 0 7px 60px;
    background-image: url("https://placehold.co/50x50");
    background-repeat: no-repeat;
    background-position: left center;
  }

  .features-card {
    padding: 52px;
    background-image: none;
  }
}
