.features-card {
  background-color: $background-color-card;
}

.features-card__title {
  color: $color-title;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.features-card__link {
  font-family: "Oswald", sans-serif;
  color: $color-link;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
