.hero {
  text-align: center;
  color: $color-promo;
}

.hero__container {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.hero__bg-wrapper {
  background-color: #63a63a;
  background-image: url("../img/bg/bg-hero@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 27px;
  padding-bottom: 150px;
}

@media (min-resolution: 2dppx) {
  .hero__bg-wrapper {
    background-image: url("../img/bg/bg-hero@2x.jpg");
    background-size: 320px 302px;
  }
}

.hero__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.hero__image {
  margin-top: -137px;
  width: 280px;
  height: 270px;
}

@media (min-width: $tablet-width) {
  .hero {
    text-align: left;
    color: $color-title;
  }

  .hero__container {
    width: 708px;
    padding: 0 30px;
  }

  .hero__container--content {
    min-height: 560px;
    padding-top: 30px;
    position: relative;
  }

  .hero__bg-wrapper {
    background-color: transparent;
    background-image: none;
    padding-top: 35px;
    padding-bottom: 20px;
  }

  .hero__slogan {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-left: 89px;
  }

  .hero__image {
    margin-top: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 709px;
    height: 609px;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    background: url("../img/bg/bg-hero-desk@1x.jpg") no-repeat bottom right, linear-gradient(90deg, $background-color-page 50%, #63a63a 50%);
    margin-top: -310px;
  }

  @media (min-resolution: 2dppx) {
    .hero {
      background: url("../img/bg/bg-hero-desk@2x.jpg") no-repeat bottom right/620px 694px, linear-gradient(90deg, $background-color-page 50%, #63a63a 50%);
    }
  }

  .hero__wrapper {
    width: 1220px;
    padding: 0 80px;
    padding-top: 300px;
    padding-bottom: 185px;
    margin: 0 auto;
    position: relative;
  }

  .hero__container {
    width: auto;
    padding: 0;
  }

  .hero__container--content {
    min-height: auto;
    position: static;
  }

  .hero__bg-wrapper {
    padding-top: 60px;
    padding-bottom: 52px;
  }

  .hero__slogan {
    max-width: 400px;
    margin-left: 80px;
  }

  .hero__image {
    z-index: 1;
    top: auto;
    bottom: 53px;
    right: 300px;
    width: 552px;
    height: 499px;
  }
}
