.hero {
  text-align: center;
  color: $color-promo;
}

.hero__container {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.hero__bg-wrapper {
  background-color: #63a63a;
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  padding-bottom: 170px;
}

.hero__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.hero__image {
  margin-top: -130px;
}

@media (min-width: $tablet-width) {
  .hero {
    text-align: left;
    color: $color-title;
  }

  .hero__container {
    width: 708px;
    padding: 0 30px;
  }

  .hero__bg-wrapper {
    background-color: $background-color-page;
    background-image: none;
    padding-bottom: 10px;
  }

  .hero__image {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    background: url("../img/bg-hero-desc.jpg") no-repeat bottom right, linear-gradient(90deg, $background-color-page 55%, #63a63a 55%);
    margin-top: -310px;
  }

  .hero__wrapper {
    width: 1220px;
    padding: 0 110px;
    padding-top: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero__container {
    width: auto;
    padding: 0;
  }
}
