.main-footer__cooperation {
color: $color-title;
font-family: "Oswald", sans-serif;
font-size: 16px;font-style: normal;
line-height: 20px;
text-transform: uppercase;
}

.main-footer__addres {
  line-height: 20px;
  font-style: normal;
}

.main-footer__wrapper {
  background-color: $background-color-card;
}
