.main-footer__cooperation {
  font-family: "Oswald", "Arial", sans-serif;
  color: $color-cooperation;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.main-footer__addres-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-footer__addres {
  line-height: 20px;
  font-style: normal;
}

.main-footer__map {
  display: block;
  margin: auto;
}

.main-footer__social-list {
  margin-bottom: 20px;
}

.main-footer__wrapper {
  background-color: $background-color-card;
}

.main-footer__social-wrapper {
  padding: 40px 0;
}

@media (min-width: $tablet-width) {
  .main-footer__social-wrapper {
    display: flex;
  }

  .main-footer__cooperation {
    width: 165px;
  }

  .main-footer__addres {
    width: 160px;
  }
}
