.main-footer {
  position: relative;
}

.main-footer__cooperation {
  font-family: "Oswald", "Arial", sans-serif;
  color: $color-cooperation;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.main-footer__bg-address-wrapper {
  background-color: $background-color-card;
}

.main-footer__addres-wrapper {
  display: flex;
  gap: 16px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.main-footer__addres {
  line-height: 24px;
  font-style: normal;
}

.main-footer__map {
  display: block;
  margin: auto;
}

.main-footer__social-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-footer__wrapper {
  background-color: $background-color-card;
}

.main-footer__logo {
  display: block;
  border-bottom: 1px solid $border-features;
  text-align: center;
  padding-bottom: 17px;
  cursor: pointer;
}

.main-footer__social-wrapper {
  padding: 36px 0;
}

.main-footer__copyright {
  display: block;
  border-top: 1px solid $border-features;
  padding-top: 20px;
}

@media (min-width: $tablet-width) {
  .main-footer__social-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 72px 0;
  }

  .main-footer__addres-wrapper {
    padding-top: 60px;
    padding-bottom: 62px;
    justify-content: space-between;
  }

  .main-footer__cooperation {
    width: 165px;
    font-size: 20px;
    line-height: 26px;
    margin-left: 40px;
  }

  .main-footer__addres {
    width: 160px;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    margin-right: 40px;
  }

  .main-footer__map {
    height: 400px;
  }

  .main-footer__logo {
    padding: 0;
    border: none;
  }

  .main-footer__social-list {
    margin: 0;
  }

  .main-footer__copyright {
    border: none;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__addres-wrapper {
    position: absolute;
    top: 90px;
    // left: calc(50% - 570px);
    background-color: $background-color-page;
  }
}
