.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.navigation-list__link {
  text-decoration: none;
  color: $color-link;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 5px;
}

@media (min-width: $tablet-width) {
  .navigation-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 446px;
  }

  .navigation-list__link {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .navigation-list {
    width: 500px;
    font-size: 20px;
    line-height: 20px;
  }

  .navigation-list__link--index {
    color: $color-button;
  }
}
