.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list__link {
  text-decoration: none;
  color: $color-link;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
