.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $background-color-page;
  text-align: center;
  width: 100%;
}

.navigation-list--gs {
  position: absolute;
  top: 66px;
  width: 100vw;
  min-width: 320px;
  left: 50%;
  transform: translate(-50%);
  display: none;
}

.navigation-list--open {
  display: block;
}

.navigation-list__item {
  border-top: 1px solid $border-menu;
}

.navigation-list__link {
  text-decoration: none;
  color: $color-link;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 22px;
  display: block;
}

@media (min-width: $tablet-width) {
  .navigation-list {
    position: static;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 446px;
    background-color: transparent;
    transform: none;
  }

  .navigation-list__item {
    border-top: none;
  }

  .navigation-list__link {
    font-size: 18px;
    line-height: 24px;
    padding: 15px 5px;
    position: relative;

    &:not(.navigation-list__link--activ):hover {
      opacity: 0.6;
    }

    &:not(.navigation-list__link--activ):active {
      opacity: 0.3;
    }
  }

  .navigation-list__link--activ-index::after {
    display: block;
    content: "";
    height: 2px;
    background-color: $background-color-promo;
    position: absolute;
    bottom: 6px;
    left: 5px;
    right: 5px;
  }

  .navigation-list__link--activ::after {
    display: block;
    content: "";
    height: 2px;
    background-color: $background-color-promo;
    position: absolute;
    bottom: 6px;
    left: 5px;
    right: 5px;
  }
}

@media (min-width: $desktop-width) {
  .navigation-list {
    width: 480px;
    font-size: 20px;
    line-height: 20px;
  }

  .navigation-list__link {
    font-size: 20px;
  }

  .navigation-list__link--index {
    color: $color-button;
  }

  .navigation-list__link--activ-index::after {
    background-color: $color-button;
    display: block;
    content: "";
    height: 2px;
    position: absolute;
    bottom: 6px;
    left: 5px;
    right: 5px;
  }

}
