.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
}

.navigation__toggle {
  border: none;
  background-color: $background-color-page;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url("../img/icon/nav-opened.svg");
  background-repeat: no-repeat;
  background-position: center;

  &--open {
    background-image: url("../img/icon/nav-closed.svg");
  }
}

@media (min-width: $tablet-width) {
  .navigation__toggle {
    display: none;
  }

  .navigation {
    padding: 25px 0;
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    padding: 62px 0;
  }
}
