.page__body {
  margin: 0;
  background-color: $background-color-page;
  color: $color-page;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  min-width: 320px;
}

.page__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $color-title;
  margin: 0;
  margin-bottom: 25px;
}


.page__title--catalog {
  margin-bottom: 43px;
  margin-top: 26px;
}

.page__title--hero {
  color: $color-promo;
}

.page__title--form {
  margin-top: 26px;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .page__body {
    font-size: 16px;
    line-height: 24px;
  }

  .page__title--hero {
    color: $color-title;
    font-size: 60px;
    line-height: 60px;
    width: 418px;
    margin-left: 89px;
    margin-bottom: 40px;
  }

  .page__title--catalog {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 95px;
    margin-top: 33px;
  }

  .page__title--form {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 55px;
    margin-top: 32px;
  }
}

@media (min-width: $desktop-width) {
  .page__title--hero {
    margin-left: 79px;
  }

  .page__title--catalog {
    margin-bottom: 90px;
    margin-top: 13px;
  }

  .page__title--form {
    margin-top: 7px;
  }
}
