.page__body {
  margin: 0;
  background-color: $background-color-page;
  color: $color-page;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  min-width: 320px;
}

.page__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $color-title;
}

.page__title--hero {
  color: $color-promo;
}

@media (min-width: $tablet-width) {
  .page__title--hero {
    color: $color-title;
    font-size: 60px;
    line-height: 60px;
    width: 418px;
  }
}
