.present {
  background-color: $background-color-promo;
  background-image: url("../img/bg/gift-bg@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-promo;
  font-size: 16px;
  line-height: 20px;
  padding-top: 58px;
  padding-bottom: 25px;

  &::before {
    display: block;
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../img/gift.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media (min-resolution: 2dppx) {
  .present {
    background-image: url("../img/bg/gift-bg@2x.jpg");
  }
}

.present__text {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .present {
    display: flex;
    justify-content: space-between;
    padding: 55px 80px;
    background-image: url("../img/bg/gift-bg-tablet@1x.jpg");

    &::before {
      margin: 0;
      padding-top: 8px;
    }
  }

  @media (min-resolution: 2dppx) {
    .present {
      background-image: url("../img/bg/gift-bg-tablet@2x.jpg");
    }
  }


  .present__text {
    text-align: left;
    margin-right: 46px;
  }
}

@media (min-width: $desktop-width) {
  .present {
    display: block;
    background-color: $background-color-promo;
    background-image: url("../img/bg/gift-bg@1x.jpg");
    background-repeat: no-repeat;
    color: $color-promo;
    font-size: 16px;
    line-height: 20px;
    padding: 55px 40px 40px 40px;
    align-self: start;

    &::before {
      display: block;
      content: "";
      margin: 0 auto;
      margin-bottom: 45px;
    }
  }

  @media (min-resolution: 2dppx) {
    .present {
      background-image: url("../img/bg/gift-bg@2x.jpg");
      padding-bottom: 38px;
    }
  }

  .present__text {
    text-align: center;
    margin: 0;
  }
}
