.present {
  background-color: $background-color-promo;
  background-image: url("../img/bg-present.jpg");
  background-repeat: no-repeat;
  color: $color-promo;
  font-size: 16px;
  line-height: 20px;
}
