.slider {
  position: relative;
  height: 256px;
}

.slider__slim {
  position: absolute;
}

.slider__fat {
  position: absolute;
  overflow: hidden;
  width: 140px;
}

.slider__image {
  max-width: none;
}

// @media (min-width: $tablet-width) {
// }

// @media (min-width: $desktop-width) {

// }
