.slider {
  position: relative;
  height: 256px;
}

.slider__image {
  max-width: none;
  width: 280px;
  height: 256px;
  vertical-align: bottom;
}

.slider__slim {
  position: absolute;
}

.slider__fat {
  position: absolute;
  overflow: hidden;
  width: 50%;
  background-image: linear-gradient($background-color-page 0, $background-color-example 0);
}

.slider__button {
  position: absolute;
  width: 4px;
  top: 0;
  bottom: 0;
  padding: 0;
  border: 0;
  background-color: #666666;
  left: calc(50% - 2px);
  cursor: pointer;

  &:hover {
    background-color: #68b738;
  }

  &:hover .slider__control {
    border: 3px solid #68b738;
  }

  &:hover .slider__icon {
    fill: #68b738;
  }

  &:active {
    background-color: rgba(94, 170, 47, 0.6);
  }

  &:active .slider__control {
    border: 3px solid rgba(94, 170, 47, 0.6);
  }

  &:active .slider__icon {
    fill: rgba(94, 170, 47, 0.6);
  }
}

.slider__control {
  width: 36px;
  height: 36px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 2px solid #666666;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__icon {
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .slider {
    width: 560px;
    height: 512px;
    margin: 0 auto;
  }

  .slider__image {
    width: 560px;
    height: 512px;
  }

  .slider__fat {
    background-image: linear-gradient(to top, $background-color-example 359px, $background-color-page 359px);
  }
}

@media (min-width: $desktop-width) {
  .slider {
    height: 512px;
    margin: 0;
  }

  .slider__fat {
    background-image: linear-gradient($background-color-page 135px, $background-color-example 135px);
  }
}
