.social-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 132px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-list__link {
  width: 28px;
  height: 22px;
  display: block;
  color: #666666;

  &:hover {
    color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}
