.title {
  color: $color-title;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 60px;
    line-height: 60px;
  }
}

// @media (min-width: $desktop-width) {

// }

