.container-form {
  display: block;
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container-form {
    display: block;
    width: 628px;
    padding: 0 40px;
  }

  .container-form--radio {
    border: 1px solid $border-form;
    width: 574px;
    padding: 20px 27px 16px 27px;
  }
}

@media (min-width: $desktop-width) {
  .container-form {
    width: 1220px;
    padding: 0 80px;
  }

  .container-form-info {
    width: 1220px;
    padding: 0 80px;
    margin: 0 auto;
    margin-bottom: 7px;
    display: grid;
    grid-template-columns: 50% auto;
    gap: 42px;
  }

  .container-form--radio {
    width: auto;
    padding: 23px 27px 16px 27px;
  }
}
