// background
$background-color-page: #ffffff;
$background-color-promo: #68b738;
$background-color-card: #f2f2f2;

// text
$text-color-page: #444444;
$text-color-link: #000000;
$text-color-title: #000000;
$text-color-promo: #ffffff;

// button
$text-color-button: #ffffff;
$background-color-button: #68b738;
