// global
@import "global/font.scss";
@import "global/variables.scss";
@import "global/global.scss";
@import "global/visually-hidden.scss";
@import "global/container.scss";

//block
@import "block/button.scss";
@import "block/title.scss";
@import "block/page.scss";
@import "block/navigation.scss";
@import "block/navigation-list.scss";
@import "block/hero.scss";
@import "block/features.scss";
@import "block/features-card.scss";
@import "block/advantages.scss";
@import "block/example.scss";
@import "block/example-list.scss";
@import "block/main-footer.scss";
@import "block/copyright.scss";
@import "block/catalog.scss";
@import "block/catalog-card.scss";
@import "block/catalog-more.scss";
@import "block/additional.scss";
@import "block/additional-card.scss";
@import "block/present.scss";
@import "block/content-form.scss";
@import "block/form.scss";
